// Here you can add other styles

.sidebar-nav .nav-group-items {
    padding-left: 25px !important;
    list-style: none !important;
}

.sidebar {
    --cui-sidebar-width: 22rem !important;
}

.sidebar:not(.sidebar-end)~* {
    --cui-sidebar-occupy-start: 21rem;
}



.table-headers {
    display: flex;
    justify-content: end;
}

.toast-header {
    border-bottom: none;
    background-color: inherit;
}



.fw-bold {
    font-weight: 700;
    color: black;
}


.toast {
    --cui-toast-bg: rgba(208, 253, 208);
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.card{
    transition: transform 0.25s ease-in;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.card {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(var(--cui-elevation-base-color,60,75,100),.14),0 2px 1px -1px rgba(var(--cui-elevation-base-color,60,75,100),.12),0 1px 3px 0 rgba(var(--cui-elevation-base-color,60,75,100),.2);
}
