// Here you can add other styles

.sidebar-nav .nav-group-items {
    padding-left: 25px !important;
    list-style: none !important;
}

.sidebar {
    --cui-sidebar-width: 22rem !important;
}

.sidebar:not(.sidebar-end) ~ * {
    --cui-sidebar-occupy-start: 21rem;
}
// .sidebar-nav .nav-group-toggle {
//     cursor: pointer;
//     font-weight: bold;
// }

.table-headers {
    display: flex;
    justify-content: end;
}